{% extends 'base.html' %}
{% load static  %}
{% block title %} Contact {% endblock %}
{% block content %}

    <main>
        

        <!-- Contact Section  -->
        <section class="contact-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title text-center text-lg-start" data-cues="slideInLeft" data-delay="500">
                            <h2 class="title">Our Office Inforamtion</h2>
                            <p class="pt-4">Lorem Ipsum available, but the majority have suffered alteration
                                some form, by injected humour, or randomized.</p>
                        </div>
                        <div class="contact-left-content">
                            <div class="contact-item contact-item-2" data-cue="slideInLeft" data-delay="500">
                                <div class="contact-icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="contact-text">
                                    <h3>Email Address:</h3>
                                </div>
                                <hr>
                                <div class="contact-content">
                                    <p>{{settings.email}}</p>
\                                </div>
                            </div>
                            <div class="contact-item contact-item-2" data-cue="slideInLeft" data-delay="500">
                                <div class="contact-icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="contact-text">
                                    <h3>Phone Number:</h3>
                                </div>
                                <hr>
                                <div class="contact-content">
                                    <p>{{settings.num1}}
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="contact-item contact-item-2" data-cue="slideInLeft" data-delay="500">
                                <div class="contact-icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="contact-text">
                                    <h3>Our Location:</h3>
                                </div>
                                <hr>
                                <div class="contact-content">
                                    <p>{{settings.adress}}
                                    </p>
                                </div>
                            </div>
                            <div class="contact-item contact-item-2" data-cue="slideInLeft" data-delay="500">
                                <div class="contact-icon">
                                    <i class="fas fa-history"></i>
                                </div>
                                <div class="contact-text">
                                    <h3>Open Hour:</h3>
                                </div>
                                <hr>
                                <div class="contact-content">
                                    <p>08:00 am to 10:00 pm
                                    </p>
                                    <p>Sunday to Thursday</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-title text-center text-lg-start mt-5 mt-lg-0" data-cues="slideInRight"
                            data-delay="500">
                            <h2 class="title">Contact for Any Inquiry</h2>
                            <p class="pt-4"> For immediate assistance or medical emergencies, 
                                please call our emergency helpline.
                                 Our team is available 24/7 to provide prompt support during urgent situations.</p>
                        </div>
                        
                        <div class="booking-wrapper">
                            <div class="booking-form">
                                <form data-cues="slideInUp" data-delay="500" method='POST'>
                                    {% csrf_token %}
                                    {% for i  in  form %}
                                    <div class="pseudo-icon icon-user">
                                        {{ i }}
                                    </div>
                                    {% endfor %}
                                   
                               

                                    <button type="submit" class="btn btn-blue btn-xl btn-round mt-5">Get
                                        Appointment</button>
                                       
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section  -->

        <!-- Map Area -->
        <div class="map-area overflow-hidden">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830843218!2d-74.11976411191142!3d40.69766374883451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1639760821808!5m2!1sen!2sbd"
                width="1920" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!-- Map Area -->
    </main>
{% endblock %}
    

    