{% extends 'base.html' %} 
{% block content %}
        <!-- Login Section  -->
        <main>
        <section class="login-area section-padding" style="background-image: url('assets/img/login/bg.png');">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="login-wrapper">
                            <div class="section-title text-lg-start">
                                <span class="subtitle wow animate__animated animate__fadeInUp">Login</span>
                                <h2 class="title wow animate__animated animate__fadeInUp animate__delay-1">See your growth and get<br>
                                    consulting support!</h2>
                            </div>
                            
                            
                            <form method='POST'>
                                {% csrf_token %}
                                {% for forms  in form  %}
                                
                                <div class="form-group">
                                  {{ forms }}
                                  <p class='text-danger'>{{ forms.errors}} </p>
                                </div>
                                {% endfor %}
                          
                                <div class="login-button">
                                    <button href="#"  type='submit' class="btn btn-blue btn-xl btn-round">Register </button>
                                </div>
                              </form>
                              <img class="shape1" src="assets/img/login/Graphic3.png" alt="">
                              <img class="shape2" src="assets/img/login/Graphic4.png" alt="">
                              <img class="shape3" src="assets/img/login/Graphic.png" alt="">
                              <img class="shape4" src="assets/img/login/Graphic2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <main>
        <!-- Login Section  -->
   {% endblock %} 